.page-template-agenda header{
	background: #163443;
	padding-bottom: 60px;
}

.page-template-agenda .sessaoContato{
	padding-top: 80px;
}

.pg-agenda{

}
	.pg-agenda .facaSeuAgendamento{
		padding-top: 199px;
		background-color: #f5f5f5;
	}
	.pg-agenda .sessaoInicialAgenda{
		padding-top: 60px;
	}
		.pg-agenda .sessaoInicialAgenda h3{
			text-transform: uppercase;
			color: #163443;
			font-size: 35px;
			font-weight: bold;
			text-align: center;
			margin:0;
			padding-bottom: 20px;
		}
		.pg-agenda .sessaoInicialAgenda article{
			max-width: 795px;
			margin: 0 auto;
			text-align: center;
		}
			.pg-agenda .sessaoInicialAgenda article p{
				font-size: 14px;
				color: #3c3c3b;
				list-style: 29px;
			}
				.pg-agenda .sessaoInicialAgenda article p strong{
				    color: #b18b52;
				}
	.pg-agenda .sessaoEscolhaAtendimento{
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
		.pg-agenda .sessaoEscolhaAtendimento h3{
			color: #ad8850;
			font-size: 31px;
			margin-bottom: 30px;
			font-weight: 200;
			text-align: center;
		}
			.pg-agenda .sessaoEscolhaAtendimento h3 strong{
				font-weight: 600;
			}
		.pg-agenda .sessaoEscolhaAtendimento ul{
			padding:0;
			list-style: none;
			margin:0;
			text-align: center;
		}
			.pg-agenda .sessaoEscolhaAtendimento ul li{
				display: inline-block;
				max-width: 225px;
				width: 100%;
				vertical-align: top;
				margin: 20px 0;
			}
				.pg-agenda .sessaoEscolhaAtendimento ul li::after{
				content: "";
				display: block;
				width: 50px;
				height: 50px;
				background: url(../img/seta.png);
				background-repeat: no-repeat;
				margin: 22px auto 0;
				background-position: center;
				-webkit-transition: ease-in .2s;
				-moz-transition: ease-in .2s;
				-ms-transition: ease-in .2s;
				-o-transition: ease-in .2s;
				transition: ease-in .2s;
				opacity: 0;

			}
				.pg-agenda .sessaoEscolhaAtendimento ul li:hover::after{
					opacity: 1;
				}

			.pg-agenda .sessaoEscolhaAtendimento ul li.after-li::after{
				content: "";
				display: block;
				width: 50px;
				height: 50px;
				background: url(../img/seta.png);
				background-repeat: no-repeat;
				margin: 22px auto 0;
				background-position: center;
				-webkit-transition: ease-in .2s;
				-moz-transition: ease-in .2s;
				-ms-transition: ease-in .2s;
				-o-transition: ease-in .2s;
				transition: ease-in .2s;
				opacity: 1;

			}
				/*.pg-agenda .sessaoEscolhaAtendimento ul li.after-li:hover::after{
					opacity: 1;
				}*/
				.pg-agenda .sessaoEscolhaAtendimento ul li a{
					color: #ad8850;
					text-decoration: none;
					text-transform: uppercase;
				}
					.pg-agenda .sessaoEscolhaAtendimento ul li a figure{
			
					}	
						.pg-agenda .sessaoEscolhaAtendimento ul li a figure img{
			
						}		
						.pg-agenda .sessaoEscolhaAtendimento ul li a h2{
							margin-bottom:0;
							font-size: 19px;
							-webkit-transition: ease-in .2s;
							-moz-transition: ease-in .2s;
							-ms-transition: ease-in .2s;
							-o-transition: ease-in .2s;
							transition: ease-in .2s;
						}
						.pg-agenda .sessaoEscolhaAtendimento ul li:hover a h2{
							font-weight: bold;
						}
						.pg-agenda .sessaoEscolhaAtendimento ul li a.hover-h2 h2{
							font-weight: bold;
						}
		.pg-agenda .sessaoAgendaJurifelx{
			background: url(../img/agenda.png);
			background-size: cover!important;
			background-position: center;
			background-attachment: fixed; 
			padding: 0 20px;
			padding-bottom: 100px;
			padding-top: 100px;
			/*margin-bottom: 100px;*/
			display: none;
		}
			.pg-agenda .sessaoAgendaJurifelx h3{
				text-transform: uppercase;
				color: #fff;
				font-size: 35px;
				font-weight: 800;
				text-align: center;
				padding-bottom: 20px;
			}
			.pg-agenda .sessaoAgendaJurifelx p{
				font-size: 15px;
				color: #fff;
				margin-bottom: 30px;
				display: block;
				text-align: center;

			}
			.pg-agenda .sessaoAgendaJurifelx ul.instrucao{
				padding: 0;
				list-style: 0;
				text-align: center;
				padding-bottom: 70px;
			}
				.pg-agenda .sessaoAgendaJurifelx ul.instrucao li{
					display: inline-block;
					color: #fff;
					text-transform: uppercase;
					font-size: 14px;
					position: relative;
					padding-left: 33px;
					line-height: 27px;
					vertical-align: top;
					margin:0 20px 10px;
				}
				.pg-agenda .sessaoAgendaJurifelx ul.instrucao li:before{
					content: "";
					display: block;
					width: 25px;
					height: 24px;
					position: absolute;
					left: 0;
				}
				.pg-agenda .sessaoAgendaJurifelx ul.instrucao li:nth-child(1):before{
					background: url(../img/ig3.png);
				}
				.pg-agenda .sessaoAgendaJurifelx ul.instrucao li:nth-child(2):before{
					background: url(../img/ig2.png);
				}
				.pg-agenda .sessaoAgendaJurifelx ul.instrucao li:nth-child(3):before{
					background: url(../img/ig1.png);
				}
				
		.pg-agenda .areaAgendamento{
			max-width: 900px;
			margin: 0 auto;
			background: #fff;

		}
		.pg-agenda .carrossel-calendario{
			position: relative;
		}
			.pg-agenda .carrosselCalendario{
				-webkit-box-shadow: 3px 0px 5px -3px rgba(158,158,158,1);
				-moz-box-shadow: 3px 0px 5px -3px rgba(158,158,158,1);
				box-shadow: 3px 0px 5px -3px rgba(158,158,158,1);
				height: 100%;
				min-height: 425px;
			}
				.pg-agenda .carrosselCalendario .item{
					padding: 45px 30px 20px;
				}
					.pg-agenda .carrosselCalendario .item h5{
						text-transform: uppercase;
						color: #ad8850;
						font-size: 29px;
						font-weight: bold;
						margin-bottom: 50px;
						text-align: center;
					}
					.pg-agenda .carrosselCalendario .item ul{
						list-style: none;
						padding: 0;
						margin: 0;
						font-size: 0;
					}
						.pg-agenda .carrosselCalendario .item ul li{
							display: inline-block;
						    width: 14.2%;
						    
						}
							.pg-agenda .carrosselCalendario .item ul li p{
								margin: 0;
								font-size: 16px;
								color: #1d5569;
								text-transform: uppercase;
								font-weight: 600;
								border-bottom: solid 1px #efefef;
								padding-bottom: 15px;
								margin-bottom: 20px;

							}
								.pg-agenda .carrosselCalendario .item ul li span{
									font-size: 16px;
									color: #1d5569;
									text-transform: uppercase;
									font-weight: 400;
									display: block;
									text-align: center;
									margin-bottom: 20px;
									width: 35px;
									display: block;
									margin: 0 auto;
									height: 35px;
									border-radius: 100%;
									line-height: 37px;
									cursor: pointer;
								}
								.pg-agenda .carrosselCalendario .item ul li span[disabled]{
									cursor: initial;
									color: #3c3c3b;
									opacity: 0.3;
									pointer-events: none; 
									font-weight: 400;
								}
								.pg-agenda .carrosselCalendario .item ul li span.ativo{
									background: #ad8850;
									color: #fff;
									font-weight: bold;
									
								}		
								.pg-agenda .carrosselCalendario .item ul li span:hover{
									background: #ad8850;
									color: #fff;
									font-weight: bold;
								}
								.pg-agenda .carrosselCalendario .item ul li span[disabled]:hover{
									color: #1d5569;
									background: transparent;
									font-weight: inherit;
								}		
								
								.pg-agenda .carrosselCalendario .item ul li b{
									
								}	
				.pg-agenda .carrossel-calendario .btnCarrossel{

				}
					.pg-agenda .carrossel-calendario .btnCarrossel button{
						background-color: transparent;
						border: none;
						max-width: 40px;
						position: absolute;
						top: 55px;
						z-index: 9;
						outline: none;
					}
						.pg-agenda .carrossel-calendario .btnCarrossel button img{
							width: 100%;
							display: block;
						}
					.pg-agenda .carrossel-calendario .btnCarrossel .esquerdacarrosselCalendario{
						left: 130px;
					}
						.pg-agenda .carrossel-calendario .btnCarrossel .esquerdacarrosselCalendario img{

						}
					.pg-agenda .carrossel-calendario .btnCarrossel .direitacarrosselCalendario{
						right: 130px;
					}
						.pg-agenda .carrossel-calendario .btnCarrossel .direitacarrosselCalendario img{

						}

			.pg-agenda .areaFormulario{
				background: #ecedf1;
				min-height: 386px;
				padding-top: 40px;
				height: 100%;
			}
				.pg-agenda .areaFormulario img{
					display: inline-block;
					margin: 0 auto;
					width: 100%;
					max-width: 56px;
					margin-bottom: 12px;
					margin: 0px auto 0 50px;
				}	
					.pg-agenda .areaFormulario p{
						text-align: center;
						text-transform: uppercase;
						font-size: 15px;
						color: #3c3c3b;
						line-height: 18px;
						margin: 0 0 0;
					}
					.pg-agenda .areaFormulario p.p-agendamento{
						display: inline-block;
						width: 100%;
						max-width: 52%;
						vertical-align: middle;
					}
					.pg-agenda .areaFormulario div.wpcf7{
						padding: 28px 0 21px;
					}
					.pg-agenda .areaFormulario input[type="text"],
					.pg-agenda .areaFormulario input[type="email"]{
						display: block;
						border-radius: 22px;
						border: none;
						-webkit-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
						-moz-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
						box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
						outline: none;
						margin: 15px auto;
						padding: 0 26px;
						width: 100%;
						max-width: 80%;
						height: 40px;
						background-color: #fff;
						text-transform: lowercase;
						color: #000;
					}
					.pg-agenda .areaFormulario input[type="text"]::placeholder,
					.pg-agenda .areaFormulario input[type="email"]::placeholder{
						color: #868686;
					}
					.pg-agenda .areaFormulario select{
						text-transform: lowercase;
						display: block;
						border-radius: 22px;
						border: none;
						-webkit-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
						-moz-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
						box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
						outline: none;
						margin: 15px auto;
						padding: 0 26px;
						width: 100%;
						max-width: 80%;
						height: 40px;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						background-image: url(../img/down.svg);
						background-size: 15px;
						background-position-x: 211px;
						background-position-y: center;
						background-repeat: no-repeat;
						color: #868686;
					}	
					.pg-agenda  .areaFormulario input{
						color: #fff;
						background: #b18b52;
						padding: 10px 60px;
						font-size: 15px;
						text-transform: uppercase;
						border-radius: 30px;
						text-decoration: none;
						border: none;
						outline: none;
						display: block;
						width: 100%;
						max-width: 80%;
						margin: 15px auto 0;
						-webkit-transition: ease-in .1s;
						-moz-transition: ease-in .1s;
						-ms-transition: ease-in .1s;
						-o-transition: ease-in .1s;
						transition: ease-in .1s;
					}
					.pg-agenda .areaFormulario input[type="submit"]:hover{
						background-color: #937344;
					}
	@media(max-width: 1100px){
		.paddingCorrecao{
			padding: 0 20px;
		}

	}
	@media(max-width: 768px){
		.pg-agenda .sessaoInicialAgenda h3{
			font-size: 25px;
		}
		.pg-agenda .sessaoInicialAgenda{
			padding-top: 0;
		}
		.pg-agenda {
		    padding-top: 127px;
		}
		.pg-agenda .sessaoAgendaJurifelx {
		    background-attachment: initial;
		    padding: 0 6px;
		    padding-top: 30px;
		    padding-bottom: 30px;
		}
		.pg-agenda .carrosselCalendario .item{
		    padding: 40px 0 20px;
		}
	}