/*

Theme Name: Neubert Advogaos
Theme URI: http://neubertadvogaos.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: impulsifix
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (HC DESENVOLVIMENTOS Framework v1)
--------------------------------------------

*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINAS
**** EXTRAS
**** VARIÁVEIS
**** @MEDIA

font-family: 'PT Sans Caption', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/

/* QUEM SOMOS */
  @import url("css/quem-somos.css");

/* AGENDA */
  @import url("css/agenda.css");

/*BODY*/
  body{

    margin:0;

    padding: 0;

    font-family: 'Montserrat', sans-serif;

  }

/*TOPO*/
  header.topo{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 9;
  } 
  .containerTopo{
    width: 100%;
    max-width: 1100px;
    margin:0 auto;
  }
  header.topo .menuThin{
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    background-color: #163443;
    padding: 0 0 10px;
  }
  header.topo .menuThin .logoMarca figure {
    margin: 10px auto 0;
    width: 120px;
    height: 85px;
  }
  header.topo .menuThin .logoMarca figure img {
    /*width: 100%;*/
    /*max-width: 120px;*/
  }
  header.topo .menuThin .redesSociais_contato {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  header.topo .menuThin .redesSociais_contato a{
    font-size: 20px;
  }
  header.topo .menuThin .redesSociais_contato b{
    width: 38px;
    height: 38px;
    line-height: 36px;
  }
  header.topo .menuThin .redesSociais_contato a.instagram {
    font-size: 23px;
  }
    header.topo{

    } 
      header.topo .logoMarca{
        padding-top: 25px;
      }

        header.topo .logoMarca figure{
          /*padding-top: 25px;*/
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 114px;
          width: 162px;
          margin: 25px auto 0;
        }
          header.topo .logoMarca figure img{
            display: block;
            margin: auto;
            opacity: 0;
          }

          header.topo .logoMarca figure figcaption{

      

          }  

      

      header.topo nav{



      }

        header.topo nav ul{

          list-style: none;

          padding: 0;

          margin:0;

        }

          header.topo nav ul li{

            display: inline-block;

          } 

            header.topo nav ul li a{
              display: block;
              font-size: 15px;
              color: #fff;
              text-transform: uppercase;
              text-decoration: none;
              padding: 0 18px;
              font-weight: 200;
              position: relative;
              transition: All .1s ease;
              -webkit-transition: All .1s ease;
              -moz-transition: All .1s ease;
              -o-transition: All .1s ease;
            }

              header.topo nav ul li a:hover{

                color:#d6be91;

                text-shadow: -.25px -.25px 0 #d6be91, 

                .25px .25px #d6be91;

              }

            header.topo nav ul li a:after{

              content: "";

              display: block;

              width: 0;

              height: 5px;

              background: #d6be91;

              /* margin: 5px auto 0; */

              transition: All .1s ease;

              -webkit-transition: All .1s ease;

              -moz-transition: All .1s ease;

              -o-transition: All .1s ease;

              position: absolute;

              bottom: -8px;

              left: 50%;

              -webkit-transform: translateX(-50%);

              -moz-transform: translateX(-50%);

              -ms-transform: translateX(-50%);

              -o-transform: translateX(-50%);

              transform: translateX(-50%);

            }

              header.topo nav ul li a:hover:after{

                width: 68px;

                transition:All .1s ease;

              }

      header.topo .menuMobile{

        background-color: #fff;

        position: fixed;

        display: block;

        width: 100%;

        height: 100vh;

        top: -150%;

        left: 0;

        -webkit-transition: ease-in .2s;

        -moz-transition: ease-in .2s;

        -ms-transition: ease-in .2s;

        -o-transition: ease-in .2s;

        transition: ease-in .2s;

        z-index: 9;

      }

      header.topo .menuMobile.abrirMenuMobile{

        top: 0;

      }

        header.topo .menuMobile nav{

          display: block;

        }

          header.topo .menuMobile nav ul{

            list-style: none;

            padding: 0;

            margin: 0;

            width: 100%;

            max-width: 95%;

            margin: 0 auto;

          }

            header.topo .menuMobile nav ul li{

              display: block;

              text-align: left;

              margin: 10px 0;

            }

              header.topo .menuMobile nav ul li a{

                padding: 0 6px;

                color: #1d5569;

                font-size: 18px;

                font-weight: 400;

              }

              header.topo .menuMobile nav ul li a:hover{

                color: #d6be91;

              }

              header.topo .menuMobile nav ul li a::after {

                left: 0;

                -webkit-transform: translateX(0);

                -moz-transform: translateX(0);

                -ms-transform: translateX(0);

                -o-transform: translateX(0);

                 transform: translateX(0); 

              }

              header.topo .menuMobile nav ul li a:hover::after{

                width: 100%;

              }

      header.topo .btnAbrirMenuMobile{

        display: none;

        width: 40px;

        height: 40px;

        position: absolute;

        top: 45px;

        right: 55px;

        border: 1px solid #b18b52;

        border-radius: 100%;

        padding: 8px 8px;

        cursor: pointer;

        z-index: 9;

      }

        header.topo .btnAbrirMenuMobile span{

          background-color: #b18b52;

          display: block;

          width: 100%;

          height: 2px;

          margin: 4px 0;

          border-radius: 15px;

        }

      header.topo .btnFecharMenuMobile{

        font-size: 30px;

        color: #b18b52;

        border: 2px solid #b18b52;

        border-radius: 100%;

        width: 35px;

        height: 35px;

        display: block;

        text-align: center;

        line-height: 27px;

        float: right;

        margin-top: 30px;

        margin-right: 25px;

      }
      header.topo .redesSociais_contato span{
        font-size: initial;
      }


/*RODAPÉ*/

  footer.rodape{

    padding-top: 55px;

    position: relative;

    overflow: hidden;

  }

  footer.rodape::before{

    content: '';

    position: absolute;

    bottom: -105px;

    right: -43px;

    width: 635px;

    height: 385px;

    display: block;

    background-image: url(img/molduraFooter.png);

    background-repeat: no-repeat;

    background-position: center;

    background-size: cover;

    -webkit-transform: rotate(-10deg);

    -moz-transform: rotate(-10deg);

    -ms-transform: rotate(-10deg);

    -o-transform: rotate(-10deg);

    transform: rotate(-10deg);

  }

    footer.rodape .row{

      max-width: 850px;

      margin:0 auto;

    }

    footer.rodape .redesSociais_contato{

      text-align: center;

    }
    footer.rodape .redesSociais_contato a{
      color: #b18b52;
    }
    footer.rodape .redesSociais_contato a.instagram{
      font-size: 24px;
    }
    footer.rodape .redesSociais_contato b{
      border: 2px solid #b18b52;
    }
    footer.rodape .redesSociais_contato a:hover b{
      background-color: #b18b52;
    }
    footer.rodape .redesSociais_contato a:hover b i{
      color: #fff;
    }

    footer.rodape figure{

      display: block;

      text-align: center;

    } 

      footer.rodape figure img{

      

      }

    footer.rodape .areaContato{

    

    }

      footer.rodape .areaContato a{

    

      }



/*COPYRIGHT*/

  .copyright{

    background-color: #163443;

    text-align: center;

    margin-top: 55px;

  }

    .copyright p{

      color: #d6be91;

      font-size: 12px;

      padding: 30px 10px;

      margin:0;

    }
    .copyright p span{
      padding-right: 22px;
    }
    .copyright p em{
      padding-right: 23px;
    }



/*ESTILOS GERAIS PARA AS PÁGINAS*/

  .redesSociais_contato{

    text-align: right;

    padding-top: 30px;

    padding-bottom: 30px;

    max-width: 748px;

  }

    .redesSociais_contato a{

      font-size: 21px;

      color: #d6be91;

      font-weight: 400;

      text-decoration: none;
      -webkit-transition: ease-in .1s;
      -moz-transition: ease-in .1s;
      -ms-transition: ease-in .1s;
      -o-transition: ease-in .1s;
      transition: ease-in .1s;
    }
    .redesSociais_contato a:hover{
      color: #fff;
    }
    .redesSociais_contato a.instagram{
      font-size: 24px;
    }
      .redesSociais_contato span{
        margin-right:30px;
        display: inline-block; 
        -webkit-transition: ease-in .2s;
        -moz-transition: ease-in .2s;
        -ms-transition: ease-in .2s;
        -o-transition: ease-in .2s;
        transition: ease-in .2s;
      }
      .redesSociais_contato a:hover span{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }

      .redesSociais_contato b{

        display: inline-block;

        width: 40px;

        height: 40px;

        text-align: center;

        border: 2px solid #d6be91;

        border-radius: 100%;

        line-height: 38px;
        position: relative;
        -webkit-transition: ease-in .1s;
        -moz-transition: ease-in .1s;
        -ms-transition: ease-in .1s;
        -o-transition: ease-in .1s;
        transition: ease-in .1s;
      }
      .redesSociais_contato a:hover b{
        background-color: #d6be91;
      }

      .redesSociais_contato i{

        font-weight: 100;

      } 

  .containerLarge{

    max-width: 1000px;

    margin: 0 auto;

  }

/*PG INICIAL*/

  .pg-inicial{



  }

    .pg .menuContato{

      position: fixed;

      display: block;

      z-index: 2;

      right: 0px;

      bottom: 120px;

      width: 100%;

      max-width: 210px;

    }

      .pg .menuContato nav{



      }

        .pg .menuContato nav ul{

          padding: 0;

          margin: 0;

          width: 100%;

        }

          .pg .menuContato nav ul li{

            background-color: #1d5569;

            list-style: none;

            margin: 10px 0;

            border-radius: 30px 0 0 30px;

            width: 100%;

            -webkit-transform: translateX(130px);

            -moz-transform: translateX(130px);

            -ms-transform: translateX(130px);

            -o-transform: translateX(130px);

            transform: translateX(130px);

            -webkit-transition: ease-in .2s;

            -moz-transition: ease-in .2s;

            -ms-transition: ease-in .2s;

            -o-transition: ease-in .2s;

            transition: ease-in .2s;
            position: relative;
          }
          .pg .menuContato nav ul li:hover{
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
          }

            .pg .menuContato nav ul li a{
              display: block;
              text-decoration: none;
              color: #fff;
              padding: 6px 14px;
            }
              .pg .menuContato nav ul li a figure{

              }
                .pg .menuContato nav ul li a figure img{
                  display: inline-block;
                  font-size: 35px;
                  vertical-align: middle;
                  width: 100%;
                  max-width: 40px;
                  text-align: center;
                }
                .pg .menuContato nav ul li a figure figcaption{
                  display: inline-block;
                  margin: 0;
                  vertical-align: middle;
                  font-size: 18px;
                  text-align: center;
                  width: 100%;
                  max-width: 135px;
                }
              .pg .menuContato nav ul li.whatsapp{
                background-color: #3aab6c;
              }

    .pg-inicial .sessaoDestaque{

      position: relative;

    }

      .pg-inicial .sessaoDestaque{

    

      }

      .pg-inicial .sessaoDestaque .owl-dots {

        text-align: center;

        position: absolute;

        bottom: 20px;

        width: 100%;

        display: block;

      }

      .pg-inicial .sessaoDestaque .owl-dot{

        display: inline;

      }

      .pg-inicial .sessaoDestaque .owl-dot span{

        display: inline-block;

        width: 15px;

        height: 15px;

        margin: 6px 5px;

        border: 1px solid #fff;

        border-radius: 20px;

        background: transparent;

      }

      .pg-inicial .sessaoDestaque .owl-dot.active span{

        background:#fff;

      }

      .pg-inicial .sessaoDestaque .item{

        position: relative;

      }

        .pg-inicial .sessaoDestaque .item figure{
          /* min-height: 100vh; */
          max-height: 100vh;
          height: 740px;
        }

          .pg-inicial .sessaoDestaque .item figure img{

            display: block;

            width: 100%;

            height: auto;

          }

      .pg-inicial .sessaoDestaque .item article{

        position: absolute;

        top: 50%;

        left: 50%;

        transform: translate(-50%, -50%);

        -webkit-transform: translate(-50%, -50%);

        -moz-transform: translate(-50%, -50%);

        -o-transform: translate(-50%, -50%);

        display: block;

        width: 100%;

        max-width: 975px;



      }

        .pg-inicial .sessaoDestaque .item article p{

          font-size: 30px;

          color: #fff;

          font-weight: 200;

          max-width: 570px;

        }

          .pg-inicial .sessaoDestaque .item article p strong{

            text-transform: uppercase;

            font-weight: 700;

          } 

        .pg-inicial .sessaoDestaque .item article a{
          color: #fff;
          background: #b18b52;
          padding: 15px 23px;
          font-size: 15px;
          text-transform: uppercase;
          border-radius: 30px;
          text-decoration: none;
          display: inline-block;
          margin-top: 25px;
          -webkit-transition: ease-in .2s all;
          -moz-transition: ease-in .2s all;
          -ms-transition: ease-in .2s all;
          -o-transition: ease-in .2s all;
          transition: ease-in .2s all;
        }
        .pg-inicial .sessaoDestaque .item article a:hover{
          background-color: #937344;
        }
      .pg-inicial .sessaoDestaque .item.textToTheRight article{
        text-align: right;
      }
      .pg-inicial .sessaoDestaque .item.textToTheRight article p{
        margin: 0 0 0 auto;
      }
    .pg-inicial .sessaoDestaque .setasCarrosselDestaque{



    }

      .pg-inicial .sessaoDestaque .setasCarrosselDestaque button{

        background-color: transparent;

        border: none;

        display: inline-block;

        max-width: 55px;

        position: absolute;

        top: 50%;

        z-index: 1;

        outline: none;

        opacity: .3;

      }

        .pg-inicial .sessaoDestaque .setasCarrosselDestaque button img{

          display: block;

          width: 100%;

        }

      .pg-inicial .sessaoDestaque .setasCarrosselDestaque .esquerdaCarrossel{

        left: 40px;

        -webkit-transform: translateY(-50%) rotate(180deg);

        -moz-transform: translateY(-50%) rotate(180deg);

        -ms-transform: translateY(-50%) rotate(180deg);

        -o-transform: translateY(-50%) rotate(180deg);

        transform: translateY(-50%) rotate(180deg);

      }

      .pg-inicial .sessaoDestaque .setasCarrosselDestaque .direitaCarrossel{

        right: 40px;

        -webkit-transform: translateY(-50%);

        -moz-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

        -o-transform: translateY(-50%);

        transform: translateY(-50%);

      }

    .pg-inicial .sessaoQuemSomos{



    }

      .pg-inicial .sessaoQuemSomos figure.imgIlustrtiva{



      }

        .pg-inicial .sessaoQuemSomos figure.imgIlustrtiva img{

          display: block;

          width: 100%;

          height: auto;

        }

      .pg-inicial .descricaoQuemSomos{

        padding-top: 65px;

        width: 100%;

        max-width: 660px;

      }

        .pg-inicial .descricaoQuemSomos article{



        }

          .pg-inicial .descricaoQuemSomos article>h2{
            text-transform: uppercase;
            color: #163443;
            font-size: 30px;
            font-weight: bold;
            margin: 0;
          }

          .pg-inicial .descricaoQuemSomos article>h3{
            font-size: 23px;
            color: #b18b52;
            font-weight: 200;
            margin-bottom: 12px;
            margin-top: 38px;
          }

          .pg-inicial .descricaoQuemSomos article>p{

            font-size: 13px;

            color: #3c3c3b;

            margin: 0;

          }

            .pg-inicial .descricaoQuemSomos article> p strong{

              color: #b18b52;

              font-size: 16px;

              font-weight: 300;

            }

          .pg-inicial .descricaoQuemSomos article ul{

            list-style: none;

            padding: 0;

            margin: 0;

            padding-top: 25px;

            padding-bottom: 50px;

          }

            .pg-inicial .descricaoQuemSomos article ul li{

              display: inline-block;

              text-align: center;

              width: 100%;

              max-width: 148px;

              vertical-align: top;

            }

              .pg-inicial .descricaoQuemSomos article ul li figure{



              }

                .pg-inicial .descricaoQuemSomos article ul li figure img{



                }

                .pg-inicial .descricaoQuemSomos article ul li figure h2{

                  color: #b18b52;

                  font-size: 14px;

                  margin:10px 0 0 0;

                }

        .pg-inicial .descricaoQuemSomos .realizeSeuPedido{

          position: relative;

          z-index: 1;

        }

          .pg-inicial .descricaoQuemSomos .realizeSeuPedido p{

            font-size: 23px;

            color: #163443;

            font-weight: 200;

          }
            .pg-inicial .descricaoQuemSomos strong{
              font-weight: 600;
            }
            .pg-inicial .descricaoQuemSomos .realizeSeuPedido span{

              color: #b18b52;

              font-size: 16px;

              font-weight: 400;

              display: block;

              margin-bottom: 20px;

            }

            .pg-inicial .descricaoQuemSomos .realizeSeuPedido a{
              color: #fff;
              background: #b18b52;
              padding: 10px 21px;
              font-size: 15px;
              text-transform: uppercase;
              border-radius: 30px;
              text-decoration: none;
              display: inline-block;
            }
            .hoverBtnPaginaInicial{
              /*position: relative;*/
              -webkit-transition: ease-in .3s;
              -moz-transition: ease-in .3s;
              -ms-transition: ease-in .3s;
              -o-transition: ease-in .3s;
              transition: ease-in .3s;
            }
            .hoverBtnPaginaInicial:hover{
              background-color: #937344 !important;
              /*color: #163443 !important;*/
            }
            /*.hoverBtnPaginaInicial::before{
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 0;
              height: 100%;
              display: block;
              background-color: transparent;
              -webkit-transform: translate(-50%,-50%);
              -moz-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              -o-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
              -webkit-transition: ease-in .3s;
              -moz-transition: ease-in .3s;
              -ms-transition: ease-in .3s;
              -o-transition: ease-in .3s;
              transition: ease-in .3s;
              border-bottom: 5px solid #163443;
              border-radius: 17px;
            }
            .hoverBtnPaginaInicial:hover::before{
              width: 100%;
            }*/

    .pg-inicial .sessaoVantagens{
      background: linear-gradient(90deg, #c09e68, #b79259);
      padding-top: 45px;
      /* padding-bottom: 20px; */
      position: relative;
      margin-top: 80px;
    }

     .pg-inicial .sessaoVantagens:before{
      content: "";
      display: block;
      width: 100%;
      height: 575px;
      background: url(img/vectorTop1.png);
      position: absolute;
      top: -560px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
     }

     .pg-inicial .sessaoVantagens:after{
      content: "";
      display: block;
      width: 100%;
      height: 434px;
      background: url(img/vectorBottom2.png);
      position: absolute;
      bottom: -130px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
     }

      .pg-inicial .sessaoVantagens h4{
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        margin: 0 0 70px;
        position: relative;
        z-index: 1;
      }

      .pg-inicial .sessaoVantagens ul{

        padding:0;

        list-style: none;

        margin: 0;

        text-align: center;

        position: relative;

        z-index: 1;

      }

        .pg-inicial .sessaoVantagens ul li{

          display: inline-block;

          text-align: center;

          max-width: 295px;

          vertical-align: top;

          margin: 10px 20px;

        }
          .pg-inicial .sessaoVantagens ul li figure{

          }
            .pg-inicial .sessaoVantagens ul li figure img{

            }
            .pg-inicial .sessaoVantagens ul li h2{
              font-size: 16px;
              color: #fff;
              text-transform: uppercase;
              min-height: 35px;
            }
            .pg-inicial .sessaoVantagens ul li p{
              font-size: 14px;
              color: #fff;
              font-weight: 200;
            }
    .pg-inicial .sessaoJuriflex{

      background: url(img/fundoServico.png);

      background-position: center;

      background-size: cover;

      padding-top: 190px;

      min-height: 100vh;

      margin-top: -80px;

      background-attachment: fixed;

    }

      .pg-inicial .sessaoJuriflex article{
        max-width: 395px;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        line-height: 23px;
        padding-top: 30px;
      }

        .pg-inicial .sessaoJuriflex article h2{
          font-size: 30px;
          color: #fff;
          font-weight: 200;
          margin-bottom: 40px;

        } 
          .pg-inicial .sessaoJuriflex strong{
            font-weight: 500;
          }
          .pg-inicial .sessaoJuriflex article h3{
            color: #fff;
            font-size: 23px;
            font-weight: 400;
            margin-bottom: 15px;
          }

        .pg-inicial .sessaoJuriflex article p{
          color: #fff;
          font-size: 13px;
          font-weight: 300;
          line-height: 23px;
        }

          .pg-inicial .sessaoJuriflex article span{



          }

      .pg-inicial .sessaoJuriflex .video{
        padding-top: 80px;
      }
        .pg-inicial .sessaoJuriflex .video iframe{

        }
      .pg-inicial .sessaoJuriflex .areaAgenda{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
      }
        .pg-inicial .sessaoJuriflex .areaAgenda p{
          font-size: 23px;
          color: #fff;
          font-weight: 200;
          margin:0;
        }
        .pg-inicial .sessaoJuriflex .areaAgenda span{
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 15px;
          display: block;
        }

        .pg-inicial .sessaoJuriflex .areaAgenda a{
          color: #fff;
          background: #b18b52;
          padding: 10px 22px;
          font-size: 15px;
          text-transform: uppercase;
          border-radius: 30px;
          text-decoration: none;
          display: inline-block;
        }
    .pg-inicial .sessaoServicos{

    }
    .pg-inicial .sessaoServicos::before{

    }
      .pg-inicial .sessaoServicos .areaServicos{

      }
        .pg-inicial .sessaoServicos .areaServicos .item{
          position: relative;
          padding:0 2px;
          cursor: pointer;
        }
          .pg-inicial .sessaoServicos .areaServicos .item:before{
            content: "";
            display: block;
            width: 100%;
            height: 200px;
            position: absolute;
            bottom:0;
            background:linear-gradient(180deg, rgba(0, 0, 0, 0) ,rgb(181, 144, 87) );
            z-index: 1;
          }
          .pg-inicial .sessaoServicos .areaServicos .item figure{
            max-height: 352px;
            overflow: hidden;
          }
            .pg-inicial .sessaoServicos .areaServicos .item figure figcaption{
              display: none;
            }
            .pg-inicial .sessaoServicos .areaServicos .item figure img{

            }
          .pg-inicial .sessaoServicos .areaServicos .item h2{
            display: block;
            width: 100%;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            bottom: 15px;
            z-index: 1;
            font-weight: 300;
            /*opacity: 0;*/
            -webkit-transition: ease-in .1s;
            -moz-transition: ease-in .1s;
            -ms-transition: ease-in .1s;
            -o-transition: ease-in .1s;
            transition: ease-in .1s;
          }
          .pg-inicial .sessaoServicos .areaServicos .item.item-ativo h2{
            font-weight: bold;
          }
            .pg-inicial .sessaoServicos .areaServicos .item:hover h2{
              font-weight: bold;
            }
    .pg-inicial .sessaoEmpresarial{
      overflow: hidden;
    }
    .pg-inicial .containerEmpresarial{
      max-width: 960px; 
      margin: 0 auto;
    }
    .pg-inicial .single-servico{
      padding-top: 80px;
      padding-bottom: 80px;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: ease-in .2s;
      -o-transition: ease-in .2s;
      transition: ease-in .2s;
      display: none;
    }
    .pg-inicial .single-servico.servico-ativo{
      display: block;
    }
    .pg-inicial .single-servico.servico-translate-left{
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
    .pg-inicial .single-servico.servico-translate-right{
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
    }
      .pg-inicial .single-servico h4{
        text-transform: uppercase;
        color: #ad8850;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      .pg-inicial .single-servico strong{

        color: #ad8850;

        font-size: 19px;

        font-weight: 400;

        margin-bottom: 15px;

        display: block;

      }

      .pg-inicial .single-servico p{

        font-size: 15px;

        color: #3c3c3b;

        margin-bottom: 30px;

        display: block;

      }

      .pg-inicial .single-servico a{

        color: #fff;

        background: #b18b52;

        padding: 10px 35px;

        font-size: 15px;

        text-transform: uppercase;

        border-radius: 30px;

        text-decoration: none;

        display: inline-block;
        margin-top: 30px;
      }

    .pg .sessaoContato{



    }

      .pg .sessaoContato h4{

        text-transform: uppercase;

        color: #163443;

        font-size: 35px;

        font-weight: 700;

        text-align: center;

      }

      .pg .sessaoContato p{

        font-size: 15px;

        color: #3c3c3b;

        text-align: center;

        margin: 0;

      } 

      .pg .sessaoContato span{

        color: #ad8850;

        font-size: 19px;

        font-weight: 500;

        margin-bottom: 15px;

        display: block;

        text-align: center;

      }

      .pg .sessaoContato .areaForm{

        max-width: 850px;

        margin: 25px auto 0;

      }

        .pg .sessaoContato .areaForm input[type="text"], .pg .sessaoContato .areaForm input[type="email"], .pg .sessaoContato .areaForm input[type="tel"]{

          display: block;

          border-radius: 22px;

          border: none;

          -webkit-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);

          -moz-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);

          box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);

          outline: none;

          margin: 10px;

          padding: 0 26px;

          width: 100%;

          max-width: 405px;

          height: 40px;

        }

        .pg .sessaoContato .areaForm textarea::placeholder, .pg .sessaoContato .areaForm input[type="text"]::placeholder, .pg .sessaoContato .areaForm input[type="email"]::placeholder, .pg .sessaoContato .areaForm input[type="tel"]::placeholder{

          font-size: 14px;

          color: #868686;

        }

        .pg .sessaoContato .areaForm select{
          display: block;
          border-radius: 22px;
          border: none;
          -webkit-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          outline: none;
          margin: 10px;
          padding: 0 26px;
          width: 100%;
          max-width: 405px;
          height: 40px;
          font-size: 14px;
          color: #868686;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url(img/down.svg);
          background-size: 15px;
          background-position-x: 375px;
          background-position-y: center;
          background-repeat: no-repeat;
        }

        .pg .sessaoContato .areaForm textarea{

          display: block;

          border-radius: 22px;

          border: none;

          -webkit-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);

          -moz-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);

          box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);

          outline: none;

          margin: 10px;

          padding:10px 25px;

          width: 100%;

          max-width: 405px;

          min-width: 405px;

          min-height:95px;

          max-height:95px;

        }

        .pg .sessaoContato .areaForm input[type="submit"]{

          color: #fff;

          background: #b18b52;

          padding: 10px 60px;

          font-size: 15px;

          text-transform: uppercase;

          border-radius: 30px;

          text-decoration: none;

          border: none;

          float: right;

          outline: none;
          -webkit-transition: ease-in .2s all;
          -moz-transition: ease-in .2s all;
          -ms-transition: ease-in .2s all;
          -o-transition: ease-in .2s all;
          transition: ease-in .2s all;
        }
        .pg .sessaoContato .areaForm input[type="submit"]:hover{
          background-color: #937344 !important;
        }

/* PÁGINA DE LOGIN */
.page-template-login{
  background: linear-gradient(180deg, #0e242f, #0e384d);
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}
.pg-login{
  padding: 80px 0 90px;
}
  .pg-login figure.logo{
    margin-bottom: 60px;
  }
    .pg-login figure.logo img{
      width: 100%;
      max-width: 110px;
    }
  .pg-login figure.usuario{

  }
    .pg-login figure.usuario img{
      width: 100%;
      max-width: 110px;
    }
  .pg-login p{
    color: #d6be91;
    text-transform: uppercase;
    font-size: 16px;
    margin: 12px 0;
    font-weight: 500;
  }
  .pg-login form.login{

  }
    .pg-login form.login input{
      display: block;
      width: 90%;
      margin: 5px auto;
      text-indent: 18px;
      border-radius: 20px;
      border: none;
      padding: 10px 0 12px;
      font-size: 12px;
      outline: none;
    }
    .pg-login form.login input::placeholder{
      color: #818b91;
    }
    .pg-login form.login label{
      text-align: left;
      display: block;
      width: 80%;
      margin: 0 auto;
      cursor: pointer;
    }
      .pg-login form.login label input#input-checkbox{
        display: inline-block;
        width: initial;
        position: relative;
      }
      .pg-login form.login label input#input-checkbox::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 18px;
        height: 18px;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        border: 1px solid #fff;
        border-radius: 100%;
        cursor: pointer;
        background-color: #0e384d;
      }
      .pg-login form.login label input#input-checkbox::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 10px;
        height: 10px;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transition: ease-in-out .2s;
        -moz-transition: ease-in-out .2s;
        -ms-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
        opacity: 0;
        background-color: #fff;
        border-radius: 100%;
      }
      .pg-login form.login label input#input-checkbox:checked::after{
        opacity: 1;
      }
      .pg-login form.login label span.label-input-checkbox{
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 10px;
      }
    .pg-login form.login input[type="submit"]{
      background-color: #1d5569;
      padding: 10px 0;
      text-transform: uppercase;
      color: #fff;
      text-indent: 0;
      width: 80%;
      margin: 20px auto 0px 22px;
    }
    .pg-login form.login input[value="Entrar"]{

    }
    .pg-login form.login input[value="Cadastrar-se"]{
      margin: 20px 22px 0px auto;
      background-color: #b38e54;
    }
  .pg-login a.esqueceu-senha{
    text-decoration: none;
    color: #d6be91;
    display: block;
    width: 90%;
    margin: 30px auto 0;
    border-top: 1px solid #1d5569;
    padding: 25px 0 0;
    text-transform: uppercase;
    font-size: 12px;
  }
.page-template-login footer{
  background-color: #b38e54;
  position: fixed;
  display: block;
  width: 100%;
  bottom: 0;
}
  .page-template-login footer .copyright{
    margin: 0;
    background-color: #b38e54;
  }
    .page-template-login footer .copyright .redesSociais_contato{
      padding: 15px 0;
      max-width: 100%;
      padding-right: 60px;
    }
      .page-template-login footer .copyright .redesSociais_contato a{
        color: #fff;
      }
        .page-template-login footer .copyright .redesSociais_contato a b{
          border-color: #fff;
        }
          .page-template-login footer .copyright .redesSociais_contato a b i{

          }
      .page-template-login footer .copyright .redesSociais_contato a.instagram{

      }
    .page-template-login footer .copyright p{
      padding: 27px 0;
      text-align: left;
      color: #fff;
    }
.page-template-login .tiny-container{
  margin: 0 auto;
  width: 100%;
  max-width: 445px;
  text-align: center;
  padding: 0 10px;
}

/* EXTRAS */

.page-template-agenda div.wpcf7-mail-sent-ng, div.wpcf7-aborted {

  border: 2px solid #ff0000;

  background-color: #ff0000;

  color: #fff;

  font-weight: 500;

  font-size: 12px;

  text-align: center;

}

.page-template-agenda div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {

  border: 2px solid #f7e700;

  background-color: #f7e700;

  color: #000;

  font-weight: 500;

  font-size: 12px;

  text-align: center;

}
div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    background-color: #398f14;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.page-template-agenda span.wpcf7-not-valid-tip {

  font-size: 13px;

  text-transform: initial;

  font-weight: 500;

}



span.wpcf7-not-valid-tip{

  color: #f00 !important;

  font-size: 13px !important;

}





/* @MEDIA QUERY */

  @media(min-width: 1630px){
    .pg-inicial .sessaoVantagens:after {
      height: 314px;
      bottom: -120px;
      background-repeat: no-repeat;
      background-size: 2127px;
    }
    .pg-inicial .sessaoJuriflex {
      padding-top: 225px;
    }
  }
  
  @media(max-width: 1300px){

    /* DESTAQUE */

    .pg-inicial .sessaoDestaque .item figure {

      min-height: 100%;

    }

  }



  @media(max-width: 1200px){

    /* SEÇÃO JURIFLEX */

    .pg-inicial .sessaoJuriflex .video iframe {

      width: 100%;

      max-width: 100%;

    }

  }



  @media(max-width: 1130px){

    /* DESTAQUE */

    .pg-inicial .sessaoDestaque .item article {

      display: block;

      width: 100%;

      max-width: 89%;

      margin: 15px auto 0;

    }

    .pg-inicial .sessaoDestaque .item article p {

      font-size: 28px;

    }

    .pg-inicial .sessaoDestaque .item article a {
      padding: 10px 23px;
      font-size: 17px;
      margin-top: 20px;
    }
    .pg-inicial .sessaoDestaque .setasCarrosselDestaque .esquerdaCarrossel {
      left: 18px;
    }
    .pg-inicial .sessaoDestaque .setasCarrosselDestaque .direitaCarrossel {
      right: 18px;
    }
    .pg-inicial .sessaoDestaque .setasCarrosselDestaque button {
      max-width: 40px;
    }

    /* SEÇÃO QUEM SOMOS */

    .pg-inicial .descricaoQuemSomos {

      padding-top: 20px;

    }

    .pg-inicial .descricaoQuemSomos article>h3 {

      font-size: 28px;

    }

    .pg-inicial .descricaoQuemSomos article>p {

      font-size: 14px;

    }

    .pg-inicial .descricaoQuemSomos article ul li {

      max-width: 120px;

    }

    .pg-inicial .descricaoQuemSomos article ul li figure h2 {

      font-size: 13px;

    }

    .pg-inicial .descricaoQuemSomos .realizeSeuPedido a {

      font-size: 15px;

    }

    .pg-inicial .descricaoQuemSomos .realizeSeuPedido span {

      font-size: 17px;

    }

    .pg-inicial .descricaoQuemSomos .realizeSeuPedido p {

      font-size: 30px;

    }



    /* SEÇÃO SERVIÇOS */

    .pg-inicial .sessaoServicos .areaServicos .item h2{

      font-size: 20px;

    }



    /* FOOTER */

    footer.rodape::before {

      width: 518px;

      height: 306px;

    }

  }



  @media(max-width: 1020px){

    /* HEADER */

    header.topo nav ul li a {

      font-size: 15px;

    }

    header.topo .redesSociais_contato {

      max-width: 680px;

    }

    header.topo .logoMarca {

      padding-top: 35px;

    }

    header.topo .logoMarca figure img {

       width: 100%; 

      max-width: 136px;

    }



    /* SEÇÃO VANTAGENS */

    .pg-inicial .sessaoVantagens ul li h2 {

      font-size: 16px;

      min-height: 35px;

    }

    .pg-inicial .sessaoVantagens ul li p {

      font-size: 15px;

    }

    .pg-inicial .sessaoVantagens ul li {

      max-width: 240px;

    }

  }



  @media(max-width: 991px){

    /* SEÇÃO JURIFLEX */

    .pg-inicial .sessaoJuriflex .video {

      padding-top: 22px;

    }

    .pg-inicial .sessaoJuriflex article h3 {

      font-size: 17px;

    }

    .pg-inicial .sessaoJuriflex article p {

      font-size: 14px;

    }

    .pg-inicial .sessaoJuriflex article h2 {

      font-size: 28px;

      margin-bottom: 30px;

    }



    /* SEÇÃO CONTATO */

    .pg .sessaoContato .areaForm textarea{

      max-width: 100%;

      min-width: 0;

      margin: 10px auto;

    }

    .pg .sessaoContato .areaForm select{

      max-width: 100%;

      min-width: 0;

      margin: 10px auto;

    }

    .pg .sessaoContato .areaForm input[type="text"]{

      max-width: 100%;

      min-width: 0;

      margin: 10px auto;

    }

    .pg .sessaoContato .areaForm {

      padding: 0 5px;

    }

  }



  @media(max-width: 930px){

    /* HEADER */

    header.topo .logoMarca figure img {

      width: 100%;

      max-width: 130px;

    }

    header.topo .redesSociais_contato {

      max-width: 615px;

    }

    header.topo nav ul li a {

      font-size: 13px;

      padding: 0 12px;

    }

  }



  @media(max-width: 840px){

    /* HEADER */

    header.topo .redesSociais_contato b {

      width: 38px;

      height: 38px;

      line-height: 36px;

    }

    header.topo .redesSociais_contato a {

      font-size: 19px;

    }

    header.topo .redesSociais_contato {

      max-width: 548px;

    }

    header.topo nav ul li a {

      padding: 0 6px;

    }



    /* DESTAQUE */

    .pg-inicial .sessaoDestaque .item article a {

      padding: 8px 23px;

      font-size: 15px;

      margin-top: 8px;

    }

    .pg-inicial .sessaoDestaque .item article p {

      font-size: 24px;

    }

    .pg-inicial .sessaoDestaque .item article a {

      padding: 8px 23px;

      font-size: 15px;

      margin-top: 8px;

    }

    .pg-inicial .sessaoDestaque .item article {

      margin: 45px auto 0;

    }



    /* SEÇÃO QUEM SOMOS */

    .pg-inicial .descricaoQuemSomos article ul li {

      max-width: 108px;

    }

    .pg-inicial .descricaoQuemSomos article ul li figure h2 {

      font-size: 12px;

    }

    .pg-inicial .descricaoQuemSomos .realizeSeuPedido p {

      font-size: 25px;

    }

    .pg-inicial .descricaoQuemSomos .realizeSeuPedido span {

      font-size: 17px;

    }

    .pg-inicial .descricaoQuemSomos article ul {

      padding-bottom: 40px;

    }

    .pg-inicial .descricaoQuemSomos article>h3 {

      font-size: 26px;

    }



    /* SEÇÃO VANTAGENS */

    .pg-inicial .sessaoVantagens {

      padding-top: 38px;

      padding-bottom: 35px;

    }

    .pg-inicial .sessaoVantagens ul li {

      max-width: 200px;

    }



    /* FOOTER */

    footer.rodape::before {

      width: 444px;

      height: 280px;

    }

  }



  @media(max-width: 768px){

    /* HEADER */

    header.topo .btnAbrirMenuMobile{

      display: block;

    }

    header.topo nav{

      display: none;

    }

    header.topo .redesSociais_contato span {

      margin-right: 5px;

      display: inline-block;

    }

    header.topo .redesSociais_contato a {

      font-size: 16px;

    }

    header.topo .redesSociais_contato b {

      width: 28px;

      height: 28px;

      line-height: 26px;

    }

    header.topo .menuMobile .redesSociais_contato a{

      font-size: 20px;

    }

    header.topo .menuMobile .redesSociais_contato a b{

      width: 38px;

      height: 38px;

      line-height: 35px;

    }

    header.topo .redesSociais_contato {

      max-width: 95%;

      width: 100%;

      margin: 0 auto;

      text-align: center;

      padding-top: 15px;

    }

    header.topo .logoMarca {

      padding-top: 10px;

    }

    header.topo .logoMarca figure img {
      width: 100%;
      max-width: 110px;
    }
    .pg .menuContato nav ul li {
      margin: 8px 0;
      -webkit-transform: translateX(150px);
      -moz-transform: translateX(150px);
      -ms-transform: translateX(150px);
      -o-transform: translateX(150px);
      transform: translateX(150px);
    }
    .pg .menuContato nav ul li a {
      padding: 6px 4px;
    }
    .pg .menuContato nav ul li a figure img {
      max-width: 30px;
      margin-left: 7px;
    }

    /* FOOTER */
    footer.rodape .redesSociais_contato {
      width: 100%;
      max-width: 95%;
      margin: 0 auto;
    }

    /* SEÇÃO JURIFLEX */

    .pg-inicial .sessaoJuriflex .video iframe {

      width: 100%;

      max-width: 74%;

      margin: 0 auto;

      display: block;

    }

    .pg-inicial .sessaoJuriflex article {

      max-width: 430px;

      text-align: center;

      margin: 0 auto;

    }



    /* SEÇÃO QUEM SOMOS */

    .pg-inicial .sessaoQuemSomos figure.imgIlustrtiva {

      display: none;

    }

    .pg-inicial .descricaoQuemSomos {

      margin: 0 auto;

      width: 100%;

      max-width: 95%;

      text-align: center;

    }



    /* SEÇÃO VANTAGENS */

    .pg-inicial .sessaoVantagens ul li {

      max-width: 260px;

    }

    .pg-inicial .sessaoVantagens ul {

      width: 100%;

      max-width: 600px;

      margin: 0 auto;

    }



    /* SEÇÃO EMPRESARIAL */

    .pg-inicial .single-servico {

      padding-top: 50px;

      padding-bottom: 80px;

      width: 100%;

      max-width: 95%;

      margin: 0 auto;

      text-align: center;

    }



    /* SEÇÃO CONTATO */

    .pg .sessaoContato .areaForm {

      margin: 10px auto 0;

    }
    .pg .sessaoContato .areaForm input[type="text"], .pg .sessaoContato .areaForm input[type="email"], .pg .sessaoContato .areaForm input[type="tel"]{
      margin: 0;
      width: 100%;
      max-width: none;
    }



    /* FOOTER */

    footer.rodape::before {

      display: none;

    }

    /* DESTAQUE */
    .pg-inicial .sessaoDestaque .setasCarrosselDestaque .esquerdaCarrossel {
      left: 3px;
    }
    .pg-inicial .sessaoDestaque .setasCarrosselDestaque .direitaCarrossel {
      right: 3px;
    }

    /* PÁGINA DE LOGIN */
    .pg-login form.login input[type="submit"] {
      width: 40%;
    }
    .page-template-login footer .copyright .redesSociais_contato {
      padding: 15px 0 0;
      padding-right: 0;
      text-align: center;
    }
    .page-template-login footer .copyright p {
      padding: 15px 0;
      text-align: center;
    }
    .pg-login {
      padding: 57px 0 60px;
    }
    .pg-login figure.logo {
      margin-bottom: 40px;
    }
    .pg-login figure.usuario img {
      max-width: 100px;
    }
  }



  @media(max-width: 600px){

    header.topo .redesSociais_contato {

      display: none;

    }

    header.topo .menuMobile .redesSociais_contato {

      display: block;

    }

    .pg-inicial .sessaoDestaque .owl-dot span {

      width: 12px;

      height: 12px;

      margin: 6px 3px;

    }

    .pg-inicial .sessaoDestaque .owl-dots {

      bottom: 0px;

    }

    .pg-inicial .sessaoDestaque .owl-dots {

      bottom: 0px;

    }

    .br{

      display: none;

    }

    .pg-inicial .sessaoDestaque .item article a {

      padding: 6px 23px;

      font-size: 13px;

      margin-top: 8px;

    }

    .pg-inicial .sessaoDestaque .item article p {

      font-size: 18px;

    }

    .pg-inicial .sessaoDestaque .item article p {

      font-size: 18px;

    }

    .pg-inicial .sessaoDestaque .item article {

      margin: 28px auto 0;

    }



    /* SEÇÃO JURIFLEX */

    .pg-inicial .sessaoJuriflex .areaAgenda span {

      font-size: 16px;

      margin-bottom: 20px;

    }

    .pg-inicial .sessaoJuriflex .areaAgenda a {

      font-size: 16px;

    }

    .pg-inicial .sessaoJuriflex .areaAgenda {

      padding: 55px 10px 60px 10px;

    }

    .pg-inicial .sessaoJuriflex .areaAgenda p {

      font-size: 28px;

    }

  }



  @media(max-width: 540px){

    /* SEÇÃO QUEM SOMOS */

    .pg-inicial .descricaoQuemSomos article ul li {

      max-width: 92px;

    }



    /* SEÇÃO JURIFLEX */

    .pg-inicial .sessaoJuriflex .video iframe {

      max-width: 95%;

    }

    .pg-inicial .sessaoJuriflex article {

      padding: 0 10px;

    }

    /* SEÇÃO DESTAQUE */
    .pg-inicial .sessaoDestaque .setasCarrosselDestaque button {
      display: none;
    }
    .pg-inicial .sessaoDestaque .setasCarrosselDestaque .esquerdaCarrossel {
      left: 0px;
    }
    .pg-inicial .sessaoDestaque .setasCarrosselDestaque .direitaCarrossel {
      right: 0px;
    }

  }



  @media(max-width: 490px){

    /* SEÇÃO EMPRESARIAL */

    .pg-inicial .single-servico h4 {

      font-size: 32px;

    }

    .pg-inicial .single-servico strong {

      font-size: 17px;

    }

    .pg-inicial .single-servico p {

      font-size: 13px;

    }

  }



  @media(max-width: 445px){

    /* HEADER */

    header.topo .btnAbrirMenuMobile {

      width: 32px;

      height: 32px;

      right: 30px;

      top: 20px;

      padding: 4px 6px;

    }

    header.topo .menuMobile .redesSociais_contato a b {

      width: 32px;

      height: 32px;

      line-height: 30px;

    }

    header.topo .logoMarca figure img {

      max-width: 75px;

    }

    header.topo .logoMarca {

      padding: 15px 0;

    }

    header.topo {

      background-color: #0f2631;

    }

    .pg-inicial .sessaoDestaque {

      margin: 84px auto 0;

    }

    .pg-inicial .sessaoDestaque .item article {

      margin: 0 auto 0;

    }

    .pg-inicial .sessaoDestaque .item article p {

      font-size: 16px;

    }

    .pg-inicial .sessaoDestaque .item article a {

      padding: 4px 23px;

      font-size: 12px;

      margin-top: 0px;

    }



    /* SEÇÃO CONTATO */

    .pg .sessaoContato .areaForm textarea {

      margin: 10px auto;

      padding: 10px 24px;

      width: 100%;

    }

    .pg .sessaoContato .areaForm select {

      margin: 10px auto;

      padding: 0 22px;

      width: 100%;

    }

    .pg .sessaoContato .areaForm input[type="text"] {

      margin: 10px auto;

      width: 100%;

    }

    .pg .sessaoContato .areaForm {

      max-width: 98%;

      margin: 10px auto 0;

      width: 100%;;

    }

    .pg .sessaoContato .areaForm input[type="submit"] {

      padding: 8px 50px;

    }

    /* PÁGINA DE LOGIN */
    .pg-login form.login input[type="submit"] {
      margin: 20px auto 0px 0px;
      width: 170px;
    }
    .pg-login form.login input {
      width: 100%;
    }
    .pg-login a.esqueceu-senha {
      width: 100%;
    }
  }



  @media(max-width: 400px){

    /* HEADER */

    header.topo .btnFecharMenuMobile {

      font-size: 25px;

      width: 32px;

      height: 32px;

      line-height: 24px;

      margin-top: 16px;

      margin-right: 16px;

    }

    header.topo .menuMobile .redesSociais_contato {

      padding-top: 80px;

    }

    header.topo .menuMobile .redesSociais_contato a {

      font-size: 16px;

    }



    /* SEÇÃO QUEM SOMOS */

    .pg-inicial .descricaoQuemSomos article ul li {

      max-width: 145px;

    }

    .pg-inicial .descricaoQuemSomos article>h3 {

      font-size: 24px;

    }

    .pg-inicial .descricaoQuemSomos article>h2 {

      font-size: 30px;

    }



    /* SEÇÃO JURIFLEX */

    .pg-inicial .sessaoJuriflex .video iframe {

      height: 228px;

    }



    /* SEÇÃO EMPRESARIAL */

    .pg-inicial .single-servico a {

      font-size: 12px;

    }



    /* SEÇÃO CONTATO */

    .pg .sessaoContato span {

      font-size: 17px;

      padding: 0 10px;

    }

    .pg .sessaoContato p {

      font-size: 14px;

      padding: 0 10px;

    }

    .pg .sessaoContato h4 {

      font-size: 30px;

      padding: 0 10px;

    }



    /* FOOTER */

    .copyright {

      margin-top: 30px;

    }

    footer.rodape figure img {

      width: 100%;

      max-width: 165px;

    }

    header.topo {

      padding-bottom: 15px;

    }

  }



  @media(max-width: 320px){



  }